# openmower.service

[Unit]
Description=Podman container - openmower.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target NetworkManager.service
StartLimitInterval=120
StartLimitBurst=10

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/boot/openmower/openmower_version.txt
EnvironmentFile=-/home/pi/openmower_mode.env
Type=forking
Restart=always
RestartSec=15s
TimeoutStartSec=1h
TimeoutStopSec=120s

ExecStartPre=/bin/rm -f %t/container-openmower.pid %t/container-openmower.ctr-id

ExecStart=/etc/systemd/system/openmower-mode-wrapper.sh %t/container-openmower.pid %t/container-openmower.ctr-id

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-openmower.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore --force --cidfile %t/container-openmower.ctr-id
PIDFile=%t/container-openmower.pid

[Install]
WantedBy=multi-user.target default.target
